Source: ayatana-settings
Section: admin
Priority: optional
Maintainer: Robert Tari <robert@tari.in>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper-compat (= 12),
               cmake,
               cmake-extras,
               intltool,
               libglib2.0-dev,
               libgtk-4-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/AyatanaIndicators/ayatana-settings
Vcs-Git: https://github.com/AyatanaIndicators/ayatana-settings
Vcs-Browser: https://github.com/AyatanaIndicators/ayatana-settings

Package: ayatana-settings
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Ayatana Indicators Settings
 Ayatana Settings allows you to configure all your Ayatana system
 indicators.
